*{
  scroll-behavior: smooth;
}

.app {
    min-height: 100vh;
    background-color: #3d4180;
    color: rgb(175, 238, 233);
    padding-top: 130px;
    padding-bottom: 70px;
  }
  
  @media (max-width: 700px) {
    .app {
      padding-top: 70px;
    }
  }

  
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: rgba(221, 229, 230, 0.993);
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}